<div class="row">
    <div class="col-6">
        <h1 class="h2-dashboard"> Canada</h1>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-6">
        <img src="../../../assets/images/recursos/canad.jpg" class="img-fluid" alt="Responsive image">

    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-12">

        <p>
            Considerado como uno de los sistemas educativos más importantes y prestigiosos del mundo, el gobierno de Canadá ha optimizado sus centros de enseñanza pertenecientes al sector público, invirtiendo sus recursos para potenciar el talento y egresar estudiantes
            con alto nivel e índice académico. avalado por la Organización para la Cooperación y el Desarrollo Económico (OCDE), integrada por 37 estados orientados a evaluar políticas sociales y económicas a escala mundial, oficialmente se reconoció
            que Canadá también es líder en el ámbito educativo por el alto nivel académico de sus alumnos en las asignaturas de Matemática, Ciencia y Lectura. Para que tengas una idea global, el PISA evaluó en Canadá el rendimiento académico de estudiantes
            de 15 años edad a través de unas pruebas estándar que fueron sometidas a un exhaustivo análisis cuantitativo.
        </p>
    </div>
</div>