<div class="row">
    <div class="col-6">
        <h1 class="h2-dashboard"> Finlandia</h1>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-6">
        <img src="../../../assets/images/recursos/finlandia.jpg" class="img-fluid" alt="Responsive image">

    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-12">

        <p>
            Finlandia es uno de los mejores países del mundo en calidad de alfabetización, aritmética y educación en ciencias. La educación en este país es gratuita, de accesibilidad universal y se financia en su totalidad con la recaudación de impuestos. Se trata
            del cuarto país a nivel mundial que más dinero invierte en educación por persona. Es considerada por el gobierno como uno de los derechos fundamentales que tienen todos los ciudadanos, y debe su éxito en parte a esto y en parte a la gran inclusión de
            toda la población, independientemente de su sexo, edad, nacionalidad, situación económica o discapacidad. Es obligatoria entre los 7 y 16 años. Los estudiantes no deben pagar por ningún material escolar y los municipios garantizan el transporte
            para aquellos que viven a más de cinco kilómetros de la institución escolar a la que asisten.
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <button type="button" download class="btn btn-success">Material Educativo</button>
    </div>
</div>