<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/images/recursos/aulaprimaria.jpg" class="d-block w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/images/recursos/classroom.jpg" class="d-block w-70" alt="...">
        </div>
        <!-- <div class="carousel-item">
            <img src="../../../../assets/images/recursos/aula3.jpg" class="d-block w-100" alt="...">
        </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-6">
        <h1 class="h2-dashboard"> ¿Que es la educación pisa?</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>
            Como ya sabemos pisa es una prueba de conocimiento que se aplica en todos los países. Actualmente esta liderado por Japón, china, finlandia, alemania y Canadá Entre otros pocos países. Sin embargo México no destaca en ninguna categoría. Teniendo esto
            en cuenta, la educación pisa se basa en "aprender a enseñar" Hacemos una investigación, sobre como enseñan en los países lideres en pisa y tomamos lo que nos acomoda, para de esa manera utilizar el plan de estudios que estudiaremos aquí.

        </p>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <button type="button" (click)="ingresaJapon()" class="btn btn-outline-danger">Japon</button>
    </div>
    <div class="col-2">
        <button type="button" (click)="ingresaChina()" class="btn btn-outline-warning">China</button>
    </div>
    <div class="col-2">
        <button type="button" (click)="ingresaCanada()" class="btn btn-outline-success">Canada</button>
    </div>
    <div class="col-2">
        <button type="button" (click)="ingresaFinlandia()" class="btn btn-outline-primary">Finlandia</button>
    </div>
</div>