<div class="row">
    <div class="col-6">
        <h1 class="h2-dashboard"> ¿QUÉ ES KUMON?</h1>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-6">
        <img src="../../../assets/images/recursos/kumon.png" class="img-fluid" alt="Responsive image">

    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-12">

        <p>
            El método Kumon es una alternativa en la educación actual, donde el objetivo es lograr el máximo desarrollo intelectual del alumno y como consecuencia, el dominio de las materiales escolares. Nuestros orientadores plantean un enfoque completamente diferente
            al sistema tradicional: en lugar de impartir las tradicionales clases particulares de matemáticas, se centran en observar y conocer la capacidad de cada alumno y en guiarlo en su trabajo de forma personalizada para que su aprendizaje y su
            motivación se mantengan siempre en el nivel óptimo. El alumno de Kumon aprende a través de nuestro exclusivo material didáctico y el orientador lo ayuda a ser cada vez más autónomo y eficaz, por lo que logra avanzar en su aprendizaje incluso
            más allá de su nivel escolar.
        </p>
    </div>
</div>