<div class="row">
    <div class="col-6">
        <h1 class="h2-dashboard"> Educación Primaria</h1>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-6">
        <img src="../../../assets/images/recursos/chinaprimaria.jpg" class="img-fluid" alt="Responsive image">

    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-12">

        <p>
            En la mayor parte de China, la educación primaria dura 6 años, pero en algunas provincias, la educación primaria dura 5 años. Por lo general, se considera desde el primer grado hasta el tercer grado como “básico”, y desde el cuarto grado hasta el sexto
            grado como “superior”. En estos seis años, los estudiantes tienen que estudiar muchas materias: ideología y moral, ideología y social, lengua China, matemática, inglés, educación física, ciencia, música, bellas artes, informática. Pero en
            realidad, no hay un examen común de la educación primaria, menos la lengua China, matemática e inglés, no se puede asegurar la calidad de la enseñanza de las demás materias. Y en la mayor parte de las zonas rurales, sólo se dictan clases de
            lengua China, matemática y educación física.
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <button type="button" download class="btn btn-success">Material Educativo</button>
    </div>
</div>